---
layout: default
title: Home
---
<!-- post type filter -->
<div class="row">
	<div class="col">
		<span>Browse by interest:</span> {% include filter.html %}
	</div>
</div>


<!-- hero image -->
{% include hero.html %}

<!-- list of all posts -->
<div class="row">
	<div class="col">
		<h3>Latest posts by category</h3>
		{% assign sorted_categories = site.categories | sort %}
		{% for category in sorted_categories %}
		<h4>{{ category[0] }}</h4>
		<ul>
			{% for post in category[1] %}
			<li>
				<a href="{{ post.url | relative_url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
		{% assign prependedUrl = "/category/" %}
		<a class="btn btn-primary" href="{{ site.baseurl }}/category/{{ category[0] }}" role="button">See more in {{ category[0] }}</a>
		{% endfor %}
	</div>
</div>
