---
layout: default
title: Home
---
<!-- hero image -->
{% include hero.html %}

<!-- page content -->
<div class="row content">
	<div class="col">
		<!-- Browse by category-->
		<div class="row browse-category text-center">
			<h2>Browse posts by category</h2>
			{% for category in site.data.categories %}
				<div class="col-4 col-md-2">
					<a href="{{ category.link | relative_url }}">
						<img class="img-fluid" src="{{ site.baseurl }}/assets/images/category_icons/{{ category.name | downcase }}.png" alt="{{ category.name }}">
						<p>{{ category.name }}</p>
					</a>
				</div>
			{% endfor %}
		</div>
		<!-- Latest posts-->
		<div class="row" id="latest-posts">
			<div class="col">
				<h2 class="text-center">Latest posts</h2>
				{% for post in paginator.posts %}
				{% include single-post.html %}
				{% endfor %}
			</div>
		</div>
		<!-- Pagination links -->
		{% include pagination.html %}
	</div>
</div>
