---
layout: default
title: Jessica's Playground
---
<!-- hero image -->
{% include hero.html %}

<!-- page content -->
<div class="row content">
	<div class="col">
		<!-- Featured posts -->
		{% include featured-posts.html %}
		<!-- Browse by category-->
		<div class="row browse-category text-center">
			<h2>Browse posts by category</h2>
			{% include browse-category-icons.html %}
		</div>
		<!-- Latest posts-->
		<div class="row" id="latest-posts">
			<div class="col">
				<h2 class="text-center">Latest posts</h2>
				{% for post in paginator.posts %}
				{% include single-post.html %}
				{% endfor %}
			</div>
		</div>
		<!-- Pagination links -->
		{% include pagination.html %}
	</div>
</div>
