---
layout: default
title: Links
---
<div class="row page gy-2" id="links-page">
	<div class="col">
		<h1 class="text-center">Link Up</h1>
		<div class="row">
			<div class="col">
				<p>Welcome! Below are links to my latest blog post, Amazon storefront, post recommendations, and my photography print shop.</p>
				<p class="text-center">
					{% for media in site.data.social_media %}
					<a href="{{ media.link }}" class="fa fa-{{ media.name | slugify }}" target="_blank"></a>
					{% endfor %}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>Latest Blog Post</h2>
				<div class="row">
					<div class="col">
						{% for post in site.posts limit:1 %}
						{% include single-post.html %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-bottom">
			<div class="col">
				<h2>Amazon Storefront</h2>
				<div class="row margin-bottom">
					<div class="col">
						<a href="https://www.amazon.com/shop/play.with.dirt" target="_blank">
							<img class="img-fluid" src="https://i.imgur.com/7jTv89r.jpg">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<a href="https://www.amazon.com/shop/play.with.dirt" target="_blank" class="btn btn-primary">Browse Amazon recommendations</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row margin-bottom">
			<div class="col">
				<h2>Recommendations</h2>
				<div class="row row-cols-1 row-cols-md-2 gy-4">
					{% for post in site.data.featured_recs %}
					<div class="col">
						{% include card.html %}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row margin-bottom">
			<div class="col">
				<h2>Photography Shop</h2>
				<div class="row row-cols-2 row-cols-md-4 gy-4 text-center margin-bottom">
					{% for photo in site.data.featured_photos %}
					<div class="col">
						<a href="{{ photo.link }}" target="_blank"><img src="{{ photo.src }}" alt="{{ photo.name }}" class="img-fluid"></a>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col text-center">
						<a href="https://society6.com/jessicapei" target="_blank" class="btn btn-primary">Buy photo prints</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
