<div class="row footer">
	<div class="col-lg-4">
		<h4>About</h4>
		<p>This is a blog where I like to try out new development ideas and share what’s currently interesting me at the moment. Since I have a lot of thoughts and ideas in my brain, this is a free space where I can lay them all out. Welcome to the inner workings of my mind!</p>
		<a href="{{ 'about.html' | relative_url }}">More about me &raquo;</a>
	</div>
	<div class="col-lg-4">
		<h4>Subscribe for updates</h4>
		<p>Get new posts delivered straight to your inbox!</p>
		<form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=JessicasPlayground', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/></p><input type="hidden" value="JessicasPlayground" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" class="submit-button "/></form>
	</div>
	<div class="col-lg-4">
		<h4>Fun Links</h4>
		<p>
			{% for media in site.data.social_media %}
			<a href="{{ media.link }}" class="fa fa-{{ media.name | slugify }}" target="_blank"></a>
			{% endfor %}
		</p>
		<p>I don't run ads because I, too, hate ads. If you found value in my blog, you can support me here:
			<a data-bs-toggle="modal" data-bs-target="#supportMe" class="fa fa-coffee"></a>
			<!-- Modal -->
			<div class="modal fade" id="supportMe" tabindex="-1" aria-labelledby="supportMeLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 id="supportMeLabel">Buy me a coffee?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form class="text-center" action="https://www.paypal.com/donate" method="post" target="_top">
								<input type="hidden" name="business" value="KE7VQJKSB4BVG" />
								<input type="hidden" name="currency_code" value="USD" />
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
								<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
							</form>

							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/MyVenmoQRCode.png">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thank you!</button>
						</div>
					</div>
				</div>
			</div>
		</p>
		<ul>
			<li>
				<a href="{{ 'archive.html' | relative_url }}">Browse the archive</a>
			</li>
			<li>
				<a href="https://society6.com/jessicapei" target="_blank">Buy my photography</a>
			</li>
		</ul>
	</div>
	<div class="col text-center">
		<small>Site lovingly designed and developed by <a href="https://www.jessicaliang.net" target="_blank">Jessica Liang.</a></small>
	</div>
	<button class="scrollToTopBtn"><i class="fa fa-chevron-up"></i></button>
</div>