<div class="row footer">
	<div class="col-lg-4">
		<h4>About</h4>
		<p>This is a blog where I like to try out new development ideas and share what’s currently interesting me at the moment. Since I have a lot of thoughts and ideas in my brain, this is a free space where I can lay them all out. Welcome to the inner workings of my mind!</p>
		<a href="{{ 'about.html' | relative_url }}">More about me &raquo;</a>
	</div>
	<div class="col-lg-4">
		<h4>Subscribe for updates</h4>
		<p>Get new posts by email:</p>
		<form data-v-2bdb5506="" action="https://api.follow.it/subscription-form/QzZnYlpGeTNGaTArYk1NWkkydFpVTGEyaWZrZVpQNFhpS2t6akFjQWxUN0I2VWZXc2VKUDFCVHdpWm9IYU9Oa2tXWi9MMGQrNmNTUEkwbUI4a3NNM01oYXUraGFna01tb041cUVDaE1NaTZNYlNwbG9kZS8yeFkrZlRVZlNYUTJ8cXdhdWhJVTlKdFhvQUtJWFdnTy84eE5xeDBGNDFnNmhQY3g5M1MvajV0UT0=/8" method="post"><input data-v-2bdb5506="" type="email" name="email" required="required" placeholder="Enter your email" spellcheck="false" class="email-input"><button data-v-2bdb5506="" type="submit" class="submit-button">
		Subscribe
	</button></form>
	</div>
	<div class="col-lg-4">
		<p>
			{% for media in site.data.social_media %}
			<a href="{{ media.link }}" class="fa fa-{{ media.name | slugify }}" target="_blank"></a>
			{% endfor %}
		</p>
		<p><a href="/links">Shopping & links &raquo;</a></p>
		<p>I don't run ads because I, too, hate ads. If you found value in my blog, you can support me here:
			<a data-bs-toggle="modal" data-bs-target="#supportMe" class="fa fa-coffee"></a>
			<!-- Modal -->
			<div class="modal fade" id="supportMe" tabindex="-1" aria-labelledby="supportMeLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 id="supportMeLabel">Buy me a coffee?</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form class="text-center" action="https://www.paypal.com/donate" method="post" target="_top">
								<input type="hidden" name="business" value="KE7VQJKSB4BVG" />
								<input type="hidden" name="currency_code" value="USD" />
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
								<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
							</form>

							<img class="img-fluid" src="{{ site.baseurl }}/assets/images/MyVenmoQRCode.png">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thank you!</button>
						</div>
					</div>
				</div>
			</div>
		</p>
	</div>
	<div class="col text-center">
		<small>Site lovingly designed and developed by <a href="https://www.jessicaliang.net" target="_blank">Jessica Liang.</a></small>
	</div>
	<button class="scrollToTopBtn"><i class="fa fa-chevron-up"></i></button>
</div>