---
---
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// colors
$sea-foam-green: #BADCD6;
$darker-sea-foam-green: #75B8B7;
$coral-pink: #F5AFA6;
$dark-brown: #5A5249;

$hero-image-max-width: 350px;

h1, h2, h3, h4, h5, h6 {
  color: $dark-brown;
  font-family: 'Bebas Neue', cursive;
}

body {
  font-family: 'Lato', sans-serif;
}

.btn-primary {
  background-color: $coral-pink;
  border: none;
}

.hero-img {
  max-width: 100%;
  padding: 50px;
}

.hero-title {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 60px;
  text-align: right;
  color: $darker-sea-foam-green;
}

.hero-subtitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  text-align: right;
  color: $darker-sea-foam-green;
}

.top-left {
  rect {
    fill: $sea-foam-green;
  }
}

.behind-right {
  width: $hero-image-max-width * .75;
  height: $hero-image-max-width * .5;
  z-index: -1;
  rect {
    fill: $coral-pink;
    width: $hero-image-max-width * .75;
    height: $hero-image-max-width * .5;
  }
}

.bottom-right {
  float: right;
  rect {
    fill: $sea-foam-green
  }
}

.tagline {
  text-align: right;
}

@include media-breakpoint-up(lg) {
  .hero-img {
    max-width: $hero-image-max-width;
    padding: 20px;
  }
}
