---
---
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// colors
$sea-foam-green: #BADCD6;
$darker-sea-foam-green: #75B8B7;
$coral-pink: #F5AFA6;
$dark-brown: #5A5249;

$hero-image-max-width: 350px;

// general
h1, h2, h3, h4, h5, h6 {
  color: $dark-brown;
  font-family: 'Bebas Neue', cursive;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 52.5px 52.5px, linear-gradient(#f7cbc4 4.2px, transparent 4.2px) 0 -2.1px, linear-gradient(90deg, #f7cbc4 4.2px, #ffffff 4.2px) -2.1px 0;
  background-size: 105px 105px, 105px 105px, 52.5px 52.5px, 52.5px 52.5px;
}

.container {
  background: white;
}

.btn-primary {
  background-color: $coral-pink;
  border: none;
}

// hero
.hero {
  .body {
    position: relative;

    .metadata {
      text-align: right;
      padding-right: 25px;

      .title {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
        color: $darker-sea-foam-green;
        margin: 0;
      }

      .subtitle {
        font-size: 6rem;
        color: $darker-sea-foam-green;
      }

      .tagline {
        background: $coral-pink;
        color: white;
        padding: 10px;
        display: inline-block;
        font-weight: bold;
      }
    }
  }
}

// Posts
.post-body {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }
  p:first-of-type:first-letter {
    float: left;
    font-size: 6rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
  }
}

.post-nav {
  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}

@include media-breakpoint-up(md) {
  .hero {
    .body {
      .metadata {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-size: 2rem;
        }

        .subtitle {
          font-size: 4rem;
        }
      }

      background-image: url("../images/hero-right2.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom right;
    }
  }

}
@include media-breakpoint-up(lg) {
  .hero {
    .body {
      .metadata {
        padding-right: 0;
        .title {
          font-size: 3rem;
        }
        .subtitle {
          font-size: 7rem;
        }
      }
    }
  }
}
